@import vars
@import basic

html,body
  width: 100%
  height: 100%
  margin: 0
  padding: 0
  color: #222
  font-family: lato,"微軟正黑體"

#landing
  padding: 40px 0
  border-bottom: 10px solid #ce2323
  h2
    margin-top: -55px
    font-size: 2em
    color: #444
  h4
    font-size: 1.2em
    color: #444
.root
  max-width: 1024px
  margin: auto
  color: #444
  h3
    height: 32px
    font-size: 18px
    background: url(img/h2.png) left center repeat-x
    margin-left: 49px
    padding-top: 3px
    display: inline-block
    &:before, &:after
      display: inline-block
      content: " "
      height: 32px
      background-position: left center
      background-repeat: no-repeat
      margin-top: -3px
      vertical-align: middle
    &:before
      background-image: url(img/h1.png)
      width: 47px
      margin-left: -47px
    &:after
      background-image: url(img/h3.png)
      width: 19px
      position: absolute
.footer
  border-top: 5px solid #ce2323
  max-width: 1024px
  margin: auto
  padding-top: 15px
  padding-bottom: 30px
  font-size: 0.8em

iframe
  width: 100%
  height: 500px
  border: 1px solid #999
  border-radius: 3px
  display: none
#epaper.show1 li:first-child, #epaper.show2 li:last-child
  background-color: #fff
  border: 1px solid #ddd
  border-bottom-color: transparent
  color: #555
  cursor: default
#epaper.show1 iframe:first-child, #epaper.show2 iframe:last-child
  display: block

@media (max-width: 1044px)
  .root, .footer
    padding-left: 10px
    padding-right: 10px

@media (max-width: 768px)
  img
    width: 90%
    margin: auto
@media (max-width: 480px)
  #landing h2
    margin-top: -20px
  .footer .lg
    display: none
